################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BowlingGame/.vs/BowlingGame/v16
/BowlingGame/bin/Debug/netcoreapp3.0
/BowlingGame/obj
